fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
alembic
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
pydantic[email]
pydantic-settings
httpx
python-multipart
# ML / Donor Ranking
xgboost
scikit-learn
numpy
pandas
joblib
boto3

# Chatbot & RAG
mistralai
sarvamai
langchain
langchain-community
faiss-cpu
sentence-transformers