--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
xgboost
scikit-learn
numpy
pandas
joblib
python-multipart
reportlab
httpx
pymupdf==1.26.3
torch==2.3.1+cpu
torchvision==0.18.1+cpu
easyocr==1.7.2
mistralai==1.9.3
