fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
pydantic[email]
pydantic-settings
httpx
aio-pika
python-multipart
xgboost
scikit-learn
numpy
pandas
joblib
reportlab
